@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Russo+One');
* {
	box-sizing: border-box; 
}
body, 
html {
	height: 100%; 
}
body {
	height: 100%;
	background-color: #fafafa;
	font-family: 'Fira Sans', sans-serif!important;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	position: relative;
	min-width: 320px!important;
	overflow-x: hidden;
	margin: 0;
}
.hidden {
	display: none;
}
.big-block{
	width: 100%;
	display: inline-block;
}
.block{
	max-width: 1120px;
	width: 100%;
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;
}
/*header*/
.header {
	width: 100%;
	min-height: 116px;
	background-color: #fff;
}
.header .block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.header_tools {
	width: 80%;
	min-width: 788px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.header_logo {
	width: 17%;
	margin-right: 8px;
}
.town_search {
	max-width: 450px;
	width: 67%;
	min-height: 65px;
	min-width: 393px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;	
}
.town_block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.choose_town {
	min-width: 170px;
	height: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding-left: 3px;
}
.choose_town p{
	color: #272727;
	font-size: 14px;
	font-weight: 500;
	line-height: 14px;
	margin-right: 10px;
}
.town_block p {
	color: #272727;
	font-size: 14px;
	font-weight: 500;
	line-height: 14px;
	/*	padding-top: 5px;*/
}
.choose_town .town_link {
	color: #eaa926;
	font-size: 18px;
	font-weight: 500;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
}
.choose_town_link {
	position: relative;
}
.choose_town_block {
	position: absolute;
	width: 426px;
	height: 265px;
	background-color: #fff;
	display: none;
	padding: 35px 32px 0 32px;
	left: -78px;
	top: 21px;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-transition: 0.4s all;
	-moz-transition: 0.4s all;
	-ms-transition: 0.4s all;
	-o-transition: 0.4s all;
	transition: 0.4s all;
	z-index: 3;
	box-shadow: 0px 0px 4px #f4f3ef;
}
.choose_town_block.active {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.choose_town_block button {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 25px;
	height: 25px;
	background-color: #fff;
	outline: none;
	border: none;
}
.choose_town_block button:after {
	position: absolute;
	font-family: fontawesome !important;
	color: #000;
	top: -3px;
	right: 0;
	content: '\f00d';
	font-size: 27px;
}
.choose_town_block h3 {
	color: #272727;
	font-size: 24px;
	line-height: 24px;
	font-weight: 500;
}
.town_list {
	margin-top: 16px;
	margin-bottom: 18px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.town_list li {
	width: 33%;
	height: 30px;
}
.town_list a {
	color: #272727;
	font-size: 16px;
	line-height: 16px;
	font-weight: 500;
	text-decoration: none;
}
.town_list a:active,
.town_list a.active {
	color: #eaa926;
}
.town_link:after {
	position: absolute;
	font-family: fontawesome !important;
	color: #eaa926;
	top: 1px;
	right: -23px;
	content: '\f078';
	font-size: 18px;
}
.choice_town {
	width: 365px;
	min-height: 72px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}
.choice_town h4 {
	color: #272727;
	font-size: 16px;
	line-height: 16px;
	font-weight: 500;
	margin-bottom: 6px;
}
.choice_town input {
	width: 365px;
	height: 35px;
	border: 2px solid #f0f0f0;
	color: #272727;
	font-size: 16px;
	line-height: 16px;
	font-weight: 500;
	outline: none;
	padding-left: 11px;
}
.choice_town p {
	margin-top: 5px;
	color: #616161;
	font-size: 12px;
	line-height: 12px;
	font-weight: 500;
	padding-top: 0;
}
.choice_town p span {
	color: #272727;
}
.search_form {
	width: 100%;
	height: 35px;
	position: relative;
	margin-top: 8px;
}
.search_form button {
	position: absolute;
	content: '';
	right: 0;
	top: 0;
	background-color: #A4C83D;
	height: 35px;
	width: 35px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	outline: none;
	border: none;
}

.search_form button:hover{
	background-color: #9ad125;
}

.search_form button:before {
	position: absolute;
	font-family: fontawesome !important;
	color: #fff;
	top: 9px;
	right: 10px;
	content: '\f002';
	font-size: 15px;
}
.search_form input {
	max-width: 450px;
	width: 100%;
	height: 35px;
	color: #777777;
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;
	padding-left: 15px;
	border: 2px solid #a4c83d;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	outline: none;
}
.searchlist {
	position: absolute;
	width: 100%;
	max-width: 450px;
	height: 480px;
	background-color: #fff;
	display: none;
	left: 0;
	top: 39px;
	display: none;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-transition: 0.4s all;
	-moz-transition: 0.4s all;
	-ms-transition: 0.4s all;
	-o-transition: 0.4s all;
	transition: 0.4s all;
	z-index: 2;
	box-shadow: 0px 0px 4px #f4f3ef;
}
.searchlist.active {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.searchlist_block {
	width: 100%;
	height: 80px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-justify-content: space-between;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 10px 0 12px 13px;
	border-bottom: 1px solid #ededed;
}
.searchlist_block:last-child {
	border-bottom: none;
}
.searchlist_block:hover {
	background-color: #f9f9f9;
}
.searchlist_tools {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.searchlist .card_info_title {
	color: #212121;
	font-size: 16px;
	line-height: 16px;
	font-weight: 400;
	min-height: 0;
	text-decoration: none;
}
.searchlist .product_code {
	margin-right: 20px;
}
.searchlist .card_price {
	color: #a4c83d;
	font-size: 16px;
	line-height: 16px;
	font-weight: 500;
	padding: 0;
	width: auto;
	height: auto;
}
.call_back__phone,
.privateroom__phone {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	margin-left: 20px;	
}
.call_back__phone .phone_vodafone,
.privateroom__phone .phone_kyiv {
	color: #272727;
	font-size: 18px;
	line-height: 18px;
	font-weight: 500;
	margin-bottom: 9px;
	text-align: right;
	padding-right: 3px;
	text-decoration: none;
	position: relative;
	display: block;
}
.call_back__phone .phone_vodafone:before {
	position: absolute;
	background: url(../img/vodafone-logo-vector1-400x400.png) no-repeat;
	width: 28px;
	height: 17px;
	top: 1px;
	left: 3px;
	content: ' ';

}
.privateroom__phone .phone_kyiv:before {
	position: absolute;
	background: url(../img/icon.png) no-repeat;
	width: 18px;
	height: 18px;
	top: 0px;
	left: 6px;
	content: ' ';

}
.call_back__phone .phone_vodafone:hover,
.privateroom__phone .phone_kyiv:hover {
	color: #eaa926;
}
.call_back__phone a:last-child {
	display: block;
	width: 180px;
	height: 35px;
	background-color: #A4C83D;
	text-align: center;
	padding-top: 11px;
	color: #fff;
	font-size: 14px;
	line-height: 14px;
	font-weight: 600;
	text-decoration: none;
	outline: none;
	border: none;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-transform: uppercase;
}
.call_back__phone a:last-child:hover{
	background-color: #9ad125;
}

.privateroom__phone a:last-child {
	display: block;
	width: 180px;
	height: 35px;
	background-color: #fff;
	padding-left: 34px;
	padding-top: 9px;
	color: #eaa926;
	font-size: 14px;
	line-height: 14px;
	font-weight: 600;
	text-decoration: none;
	outline: none;
	border: 2px solid #eaa926;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	position: relative;
}
.privateroom__phone a:last-child:before {
	position: absolute;
	font-family: fontawesome !important;
	color: #eaa926;
	top: 8px;
	left: 10px;
	content: '\f07a';
	font-size: 18px;
}
/*.privateroom__phone a:hover,
.privateroom__phone a:hover + a:before {
border-color: #fcbc3c;
color: #fcbc3c;
}
.privateroom__phone a:hover .number_buy{
background-color: #fcbc3c;
}*/
.basket_number_buy {
	position: absolute;
	content: '';
	right: -1px;
	top: -2px;
	background-color: #eaa926;
	height: 35px;
	width: 35px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	outline: none;
	border: none;
	color:  #fff;
	font-size: 14px;
	line-height: 14px;
	font-weight: 600;
	text-align: center;
	padding-top: 10px;
}
/*header_topline*/
.topline {
	background-color: #F0F0F0;
}
.header_topline {
	width: 100%;
	min-height: 30px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-top: 9px;
	padding-bottom: 5px;

}
.topline_menu ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	list-style: none;
}
.topline_menu li {
	margin-right: 16px;
}
.topline_menu li:last-child {
	margin-right: 0;
}
.topline_menu a {
	color: #212121;
	font-size: 13px;
	font-weight: 400;
	text-decoration: none;
}
.topline_menu a:hover {
	color: #eaa926;
}


.topline_privateroom {
	min-width: 190px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;

}
.myaccount a {
	padding-right: 15px;
	position: relative;
	margin-right: 15px;

}
.myaccount {
	position: relative;
}
.myaccount > a:after {
	position: absolute;
	font-family: fontawesome !important;
	color: #212121;
	top: 2px;
	right: 0px;
	content: '\f078';
	font-size: 11px;
}
.privateroom {
	padding-bottom: 1px;
}
.topline_privateroom a {
	color: #212121;
	font-size: 14px;
	text-decoration: none;
	font-weight: 500;
}
.privateroom_for_all a i,
.myaccount a i{
	margin-right: 4px;
}
.privateroom_for_all:hover a,
.myaccount a:hover{
	color: #eaa926;
}
.myaccount a:hover + .myaccount a:after{
	color: #eaa926;
}

.myacc {
	width: 135px;
	min-height: 120px;
	background-color: #FFF;
	display: none;
	position: absolute;
	top: 16px;
	right: 13px;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	z-index: 100;
	box-shadow: 0px 0px 3px 1px #ededed;
}
.myacc.active {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.myacc_line {
	padding: 14px 0 12px 9px;
	width: 100%;
	border-bottom: 1px solid #ededed;
	
}
.myacc_line:last-child {
	border-bottom: none;
}

.myacc_line a,
.myacc_line p {
	color: #272727;
	font-size: 14px;
	line-height: 14px;
	text-decoration: none;
	font-weight: 400;
}
.myacc_line p span {
	font-weight: 500;
}
.myacc_line .my_account,
.myacc_line p span {
	color: #a4c83d;
}
.privateroom_lang{
	width: 46px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;	
}
.privateroom_lang a{
	text-transform: uppercase;
}
.privateroom_lang:after{
	position: absolute;
	right: 22px;
	top: 0;
	width: 2px;
	height: 13px;
	content: '';
	background-color: #212121;
}
.privateroom_lang a.active,
.privateroom_lang a:hover{
	color: #91b627;

}

/*header_bottomline*/
.header {
	width: 100%;
	min-height: 120px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

/*menu*/
.menu {
	min-height: 60px;
	background-color: #272727;
}
.menu .block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.menu ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 60px;
}
.menu li {
	/*height: 100%;*/
	position: relative;
}
.menu a {
	display: block;
	padding: 13px 25px;
	height: 60px;
	line-height: 34px;
	text-decoration: none;
	color: #ffffff;
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	position: relative;
	-webkit-transition: 0.2s all;
	-moz-transition: 0.2s all;
	-ms-transition: 0.2s all;
	-o-transition: 0.2s all;
	transition: 0.2s all;
	position: relative;
}

.menu a:before {
	content: ' ';
	position: absolute;
	width: 1px;
	height: 30px;
	background-color: #fff;
	opacity: 0.22;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.menu li:first-child a:before {
	display: none;
}
.menu a:hover{
	color: #eaa926;
	border-bottom: 3px solid #EAA926;
}
li:nth-child(2):hover .hover_jatka{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
}
.hover_jatka {
	position: absolute;
	width: 340px;
	height: 285px;
	background-color: #FAFAFA;
	display: none;
	z-index: 2;
	padding: 29px 22px 19px 22px;
	left: -59px;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
	-webkit-transition: 0.2s all;
	-moz-transition: 0.2s all;
	-ms-transition: 0.2s all;
	-o-transition: 0.2s all;
	transition: 0.2s all;
}
.hover_jatka_brands {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}
.hover_jatka_brands ul {
	width: 100%;
	height: 200px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.hover_jatka_brands li {
	width: 50%;
	height: 36px;
}
.hover_jatka_brands a {
	display: inline;
	padding: 0;
	line-height: 17px;
	text-decoration: none;
	color: #272727;
	font-size: 17px;
	font-weight: 500;
	text-transform: uppercase;
}
.hover_jatka_brands a:hover{
	color: #a4c83d;
	border-bottom: none;
}
.hover_jatka_brands a:before {
	display: none;
}
.hover_jatka_brands li:first-child a {
	padding: 0;
}
.hover_jatka_brands a.all_parts {
	display: inline;
	height: 20px;
	position: relative;
	margin-top: 20px;
}
a.all_parts:after {
	content: '\f178';
	font-family: FontAwesome!important;
	color: #272727;
	font-size: 18px;
	position: absolute;
	top: 0px;
	left: 124px;
}
.hover_jatka_img  {
	max-width: 48%;
	height: 220px;
	width: 215px;
	position: relative;
}
.hover_jatka_img img {
	width: auto;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/*footer*/
.footer {
	background-color: #242424;
	margin-top: 50px;
}
.footer .block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
	padding: 17px 10px;
}
.footer_section {
	max-width: 250px;
}
.footer_section h4 {
	color: #fff;
	font-size: 14px;
	line-height: 14px;
	font-weight: 600;
	margin-bottom: 10px;
}
.footer_section li {
	padding-left: 14px;
	position: relative;
}
.footer_section li:before {
	position: absolute;
	font-family: fontawesome !important;
	color: #fff;
	top: 4px;
	left: 2px;
	content: '\f04b';
	font-size: 10px;
}
.footer_section li a {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
}
.footer_section li a:hover {
	color: #eaa926;
}

.footer_section p {
	color: #fff;
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;
}
.footer_info_time {
	margin-top: 33px;
}
.footer_contacts_mobil a {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;
	display: block;
	margin-bottom: 8px;
}
.footer_contacts_mobil a:hover {
	color: #eaa926;
}
.footer_contacts_mobil a:last-child {
	margin-bottom: 0;
}
.footer_contacts_pay {
	margin-top: 22px;
}
.pay_img {
	max-width: 105px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

/*copyright*/
.copyright {
	background-color: #222;
	height: 40px;
}
.copyright p {
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	margin-top: 13px;
}

/*Просмотренные товары*/
.watched {
	min-height: 480px;
}
.watched h3 {
	color: #000;
	font-size: 18px;
	font-weight: 600;
	line-height: 18px;
	padding-left: 5px;
}
.watched .block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}
.watched_cards {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
	margin-top: 27px;
}
.card {
	width: 250px;
	height: 387px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	background-color: #fff;
	border: 6px solid #f4f3ef;
	border-bottom: none;
	box-shadow: 0px 0px 4px #f4f3ef;
}
.card_info {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	padding: 19px 13px 0 18px;
}
.card_info_title {
	color: #212121;
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	min-height: 44px;
}
.card_info a {
	text-decoration: none;

}
.card_info_code {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
	margin-top: 10px;
}
.product_code,
.product_number {
	color: #9e9e9e;
	font-size: 12px;
	font-weight: 400;
	line-height: 12px;
}
.card_img {
	width: 90%;
	height: 200px;
	margin: auto;
	position: relative;
	overflow: hidden;
}
.card_img img {
	width: auto;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.card_status {
	color: #a4c83d;
	font-size: 14px;
	font-weight: 500;
	line-height: 14px;
	padding-left: 18px;
}
.card_purchase {
	width: 100%;
	height: 35px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
	margin-top: 11px;
	background-color: #EAA926;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.card_price {
	display: block;
	width: 64%;
	height: 35px;
	color: #fffefe;
	font-size: 18px;
	font-weight: 500;
	line-height: 18px;
	padding: 9px 0 8px 8px;
}
.card_buy {
	display: block;
	width: 36%;
	height: 35px;
	background-color: #A4C83D;
	color: #fffefe;
	font-size: 12px;
	font-weight: 500;
	line-height: 12px;
	padding: 13px 0 10px 12px;
	outline: none;
	border: none;
	position: relative;
	text-align: left;
	border-radius: 4px;
}
.card_buy:after {
	position: absolute;
	font-family: fontawesome !important;
	color: #fffefe;
	top: 13px;
	right: 12px;
	content: '\f07a';
	font-size: 15px;
}
.card_brands {
	display: block;
	text-align: center;
	text-transform: uppercase;
	color: #212121;
	font-size: 14px;
	font-weight: 500;
	line-height: 14px;
	padding-top: 9px;
	padding-bottom: 8px;
	border-bottom: 6px solid #3d2923;
}


/*Попап окно "заявка принята"*/
.popap_call,
.popap_thanks {
	width:100%;
	min-height:100%;
	background-color: rgba(0,0,0,0.5);
	overflow:hidden;
	position:fixed;
	top:0px;
	z-index: 10;
}
.popap_call_content,
.popap_thanks_content {
	width: 400px;
	position: absolute;
	background-color: #fff;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	box-shadow: 0px 0px 3px #000;
	z-index: 100;
}

.popap_call_main,
.popap_thanks_main {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: auto;
	text-align: center;
}
.popap_thanks_main {
	padding: 56px 32px 40px 35px;
}

.popap_thanks_main h3 {
	color: #272727;
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
	margin-bottom: 20px;
}
.popap_thanks_main p {
	color: #272727;
	font-size: 17px;
	font-weight: 300;
	line-height: 20px;
	padding-left: 15px;
	padding-right: 15px;
}
.popap_thanks_main a {
	position: absolute;
	background-color: transparent;
	border: none;
	outline: none;
	right: 3px;
	top: 3px;
	font-size: 25px;
	text-decoration: none;
	color: #212121;
}
.popap_thanks_main img {
	margin-bottom: 20px;
}
/*Попап окно "обратный звонок"*/
.popap_call_main {
	padding: 30px 30px 35px 30px;
}
.popap_call_main h3 {
	color: #272727;
	font-size: 24px;
	font-weight: 400;
	line-height: 29px;
	margin-bottom: 20px;
}

.popap_call_main a {
	position: absolute;
	background-color: transparent;
	border: none;
	outline: none;
	right: 5px;
	top: 3px;
	font-size: 25px;
	text-decoration: none;
	color: #272727;
}
.popap_call_main label {
	width: 100%;
	position: relative;
}
.popap_call_main label p {
	position: absolute;
	top: -15px;
	left: 0;
	color: #e53935;
	font-size: 12px;
	font-weight: 500;
	line-height: 12px;
}
.popap_call_input {
	width: 100%;
	height: 35px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding-left: 10px;
	border: 2px solid #f5f5f5;
	outline: none;
	color: #bdbdbd;
	font-weight: 400;
	font-size: 16px;

	margin-bottom: 5px;
}
.popap_call-submit {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #eaa926;
	border: none;
	outline: none;
	width: 100%;
	height: 37px;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	line-height: 13px;
	margin-top: 15px;
	text-transform: uppercase;
}

/*
Попап восстановление*/
.popap_vostanovl {
	width:100%;
	min-height:100%;
	background-color: rgba(0,0,0,0.5);
	overflow:hidden;
	position:fixed;
	top:0px;
	z-index: 10;
}
.popap_vostanovl_content {
	width: 410px;
	position: absolute;
	background-color: #fff;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	box-shadow: 0px 0px 3px #000;
	z-index: 100;
}

.popap_vostanovl_main {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;

	width: 100%;
	height: auto;
	padding: 35px 28px 40px 33px;
}

.popap_vostanovl_main h3 {
	color: #272727;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 20px;
	text-align: left !important;
}
.popap_vostanovl_main p {
	color: #272727;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
	margin-bottom: 14px;
}
.popap_vostanovl_main a {
	position: absolute;
	background-color: transparent;
	border: none;
	outline: none;
	right: 3px;
	top: 3px;
	font-size: 25px;
	text-decoration: none;
	color: #272727;
}
.popap_vostanovl_main label {
	width: 100%;
	position: relative;
}
.popap_vostanovl_main label p:last-child {
	position: absolute;
	top: 59px;
	left: 0;
	color: #e53935;

	font-size: 12px;
	font-weight: 500;
	line-height: 12px;

}
.popap_vostanovl_main label p{
	color: #272727;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	margin-bottom: 5px;

}

.popap_vostanovl_input {
	width: 100%;
	height: 35px;
	padding-left: 10px;
	border: 2px solid #f6f6f6;
	outline: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.popap_vostanovl_input:hover {
	border-color: #eaa926;
	-webkit-box-shadow: 0px 0px 2px 0px #EAA926;
	box-shadow: 0px 0px 2px 0px #EAA926;
}
.popap_vostanovl-submit {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #eaa926;
	border: none;
	outline: none;
	width: 100%;
	height: 36px;
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	line-height: 18px;
	margin-top: 20px;
	text-transform: uppercase;
}



/*Попап окно "пароль отправлено"*/
.popap_vostanovl_otpravl {
	width:100%;
	min-height:100%;
	background-color: rgba(0,0,0,0.5);
	overflow:hidden;
	position:fixed;
	top:0px;
	z-index: 10;
}
.popap_vostanovl_otpravl__content {
	width: 410px;
	position: absolute;
	background-color: #fff;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	box-shadow: 0px 0px 3px #000;
	z-index: 100;
}

.popap_vostanovl_otpravl__main {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: auto;
	text-align: center;
}
.popap_vostanovl_otpravl__main {
	padding: 35px 35px 40px 35px;
}

.popap_vostanovl_otpravl__main h3 {
	color: #272727;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 35px;
}
.popap_vostanovl_otpravl__main p {
	color: #272727;
	font-size: 17px;
	font-weight: 300;
	line-height: 20px;
	padding-left: 15px;
	padding-right: 15px;
}
.popap_vostanovl_otpravl__main p span {
	font-weight: 500;
}
.popap_vostanovl_otpravl__main a {
	position: absolute;
	background-color: transparent;
	border: none;
	outline: none;
	right: 3px;
	top: 3px;
	font-size: 25px;
	text-decoration: none;
	color: #272727;
}
.popap_vostanovl_otpravl__main img {
	margin-bottom: 20px;
	margin-top: 30px;
}

/*
форма "открытая корзина"*/
.privateroom__phone {
	position: relative;
}
.openkorzina {
	width: 330px;
	min-height: 135px;
	display: none;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	padding: 18px 16px 24px 16px;
	background-color: #FFF;
	z-index: 99;
	border: 2px solid #eaa926;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position: absolute;
	top: 66px;
	right: 0;

}
.openkorzina.active {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.openkorzina_item {
	width: 95%;
	min-height: 54px;
	max-width: 268.8px;	
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 13px;

}

.openkorzina_item:last-child {
	margin-bottom: 0;	
}
.openkorzina_items {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	max-height: 189px;
	overflow-y: auto;
	position: relative;		
}
.openkorzina_items:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 26px;
	right: 0;
	bottom: 0;
	background: -moz-linear-gradient(left,rgba(255,255,255,0) 0,white 100%);
	background: -webkit-linear-gradient(left,rgba(255,255,255,0) 0,white 100%);
	background: linear-gradient(to right,rgba(255,255,255,0) 0,white 100%);
}
.openkorzina_img {
	width: 20%;
	max-width: 54px;
	height: auto;
	position: relative;
	max-height: 50px;
}
.openkorzina_img img {
	width: auto;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.openkorzina_block {
	width: 77%;
	min-height: 58px;
}
.openkorzina_line {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
	margin-bottom: 7px;
}
.openkorzina_line:last-child {
	margin-bottom: 0;	
}
.openkorzina_block .product_title {
	color: #272727;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	margin-bottom: 5px;

}
.openkorzina_line .card_price {
	color: #a4c83d;
	font-size: 16px;
	font-weight: 600;
	line-height: 16px;
	padding: 0;
	height: auto;
}
.openkorzina_total {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
	width: 	91%;
	border-top: 1px solid #e0e0e0;
	margin-top: 10px;
	padding-top: 12px;
	margin-bottom: 20px;			
}
.openkorzina_total p {
	color: #272727;
	font-size: 14px;
	font-weight: 500;
	line-height: 14px;
}
.openkorzina_line .card_quantity {
	color: #272727;
	font-size: 16px;
	font-weight: 600;
	line-height: 16px;
}
.openkorzina button {
	color: #fffefe;
	font-size: 12px;
	margin: auto;	
	font-weight: 500;
	line-height: 12px;
	background-color: #a4c83d;
	width: 155px;
	height: 27px;
	border: none;
	outline: none;
	position: relative;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	box-shadow: 0px 3px 0px #728a2f;
	text-transform: uppercase;
	font-family: 'Fira Sans';
}


/*breadcrumbs*/
.breadcrumbs .block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-top: 10px;
	padding-bottom: 5px;
}
.breadcrumbs a ,.breadcrumbs p{
	font-size: 13px;
	font-weight: 400;
	color: #676767;
	text-decoration: none;
	margin-right: 4px;
	padding-bottom: 1px;
	margin-bottom: 5px;
}
.breadcrumbs a {
	color: #676767;
	border-bottom: 1px solid #676767;
}
.breadcrumbs a:last-child{
	color: #212121;
	border-bottom: none;
	font-weight: 500;
}
.breadcrumbs a:first-child {
	margin-left: 25px;
	position: relative;
	
}
.breadcrumbs a:first-child::before {
	position: absolute;
	font-family: fontawesome !important;
	color: #676767;
	top: 0px;
	left: -23px;
	content: '\f015';
	font-size: 19px;
}
.error-name {
	position: absolute;
	top: -14px;
	left: 0;
	color: #e53935;
	font-size: 12px;
	font-weight: 500;
	line-height: 12px;
}
.contact_info .error-name {
	position: relative;	
	margin-bottom: 2px;
	top: 0;	
}




/*Попап окно "авторизация"*/
.popap_entrance {
	width:100%;
	min-height:100%;
	background-color: rgba(0,0,0,0.5);
	overflow:hidden;
	position:fixed;
	top:0px;
	z-index: 10;
}
.popap_entrance__content {
	width: 410px;
	height: 400px;
	position: absolute;
	background-color: #fff;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	box-shadow: 0px 0px 3px #000;
	z-index: 100;
}

.popap_entrance__main {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;

	width: 100%;
	height: auto;

}
.popap_entrance__main {
	padding: 35px 30px 40px 30px;
}

.popap_entrance__main h3 {
	color: #272727;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;

}
.popap_entrance__main p {
	color: #272727;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	margin-top: 18px;
	margin-bottom: 2px;
}

.popap_entrance__main a {
	position: absolute;
	background-color: transparent;
	border: none;
	outline: none;
	right: 3px;
	top: 3px;
	font-size: 25px;
	text-decoration: none;
	color: #272727;
}
.popap_entrance__main label {
	position: relative;
}


.popap_entrance_input {
	width: 100%;
	height: 35px;
	padding-left: 10px;
	border: 2px solid #f6f6f6;
	outline: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position: relative;
	font-family: 'Fira Sans';
}
.popap_entrance_input:hover {
	border-color: #eaa926;
	-webkit-box-shadow: 0px 0px 2px 0px #EAA926;
	box-shadow: 0px 0px 2px 0px #EAA926;
}
.popap_call_input:hover {
	border-color: #eaa926;
	-webkit-box-shadow: 0px 0px 2px 0px #EAA926;
	box-shadow: 0px 0px 2px 0px #EAA926;
}
.popap_entrance-submit {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #eaa926;
	border: none;
	outline: none;
	width: 100%;
	height: 36px;
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	line-height: 18px;
	margin-top: 20px;
	text-transform: uppercase;
}

.popap_entrance-submit_new {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	
	border: none;
	outline: none;
	width: 100%;
	height: 36px;
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	line-height: 18px;
	
	text-transform: uppercase;
	background-color: #a4c83d;
	margin-top: 0;
}

.popap_entrance__main .error-mail,
.popap_entrance__main .error-password  {
	position: absolute;
	top: 58px;
	left: 4px;
	color: #e53935;
	font-size: 12px;
	font-weight: 500;
	line-height: 12px;
}
p.popap_entrance_first {
	margin-bottom: 19px;
	margin-top: 40px;
	position: relative;
	background-color: #BDBDBD;
	width: 100%;
	height: 1px;
}
p.popap_entrance_first span {
	position: absolute;
	top: -4px;
	left: 38%;
	display: block;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #fff;
	color: #bdbdbd;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
}
p.forgot_password {
	position: absolute;
	right: 0;
	top: 0;
	color: #a4c83d;
	font-size: 14px;
	font-weight: 300;
	line-height: 14px;
}



/*Попап окно "регистрация"*/
.popap_regist {
	width:100%;
	min-height:100%;
	background-color: rgba(0,0,0,0.5);
	overflow:hidden;
	position:fixed;
	top:0px;
	z-index: 10;
}
.popap_regist__content {
	width: 410px;
	height: 555px;
	position: absolute;
	background-color: #fff;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	box-shadow: 0px 0px 3px #000;
	z-index: 100;
}

.popap_regist__main {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;

	width: 100%;
	height: auto;

}
.popap_regist__main {
	padding: 35px 30px 40px 30px;
}

.popap_regist__main h3 {
	color: #272727;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;

}
.popap_regist__main p {
	color: #272727;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	margin-top: 18px;
	margin-bottom: 2px;
}

.popap_regist__main a {
	position: absolute;
	background-color: transparent;
	border: none;
	outline: none;
	right: 3px;
	top: 3px;
	font-size: 25px;
	text-decoration: none;
	color: #272727;
}
.popap_regist__main label {
	position: relative;
}

.inp_valid {
	border: 2px solid #e53935!important;
}
.popap_regist_input {
	width: 100%;
	height: 35px;
	padding-left: 10px;
	border: 2px solid #f6f6f6;
	outline: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position: relative;
	font-family: 'Fira Sans';
}
.popap_regist_input:hover {
	border-color: #eaa926;
	-webkit-box-shadow: 0px 0px 2px 0px #EAA926;
	box-shadow: 0px 0px 2px 0px #EAA926;
}
.popap_regist-submit {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #a4c83d;
	border: none;
	outline: none;
	width: 100%;
	height: 36px;
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	line-height: 18px;
	margin-top: 20px;
	text-transform: uppercase;
}

.popap_regist__main .error-name,
.popap_regist__main .error-mail,
.popap_regist__main .error-password,
.popap_regist__main .error-verification_password {
	position: absolute;
	top: 58px;
	left: 4px;
	color: #e53935;
	font-size: 12px;
	font-weight: 500;
	line-height: 12px;
}
.agreement {
	color: #272727;
	font-size: 14px;
	font-weight: 300;
	line-height: 17px;
	margin-top: 28px;
	margin-bottom: 25px;
}
.agreement >.agreement_link{
	text-decoration: none;
	color: #a4c83d;
	font-size: 14px;
	font-weight: 300;
	line-height: 17px;
	position: relative;
	top: 0;
	right: 0;
	
}
.popap_regist__main span{
	margin-bottom: 20px;
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #BDBDBD;
}

.avtoris_text {
	color: #272727;
	font-size: 14px;
	font-weight: 300;
	line-height: 14px;
}

.avtoris_text >.avtoris_link {
	text-decoration: none;
	color: #a4c83d;
	font-size: 14px;
	font-weight: 300;
	line-height: 13px;
	position: relative;
	top: 0;
	right: 0;
	
}
.popap_regist__main label:after {
	position: absolute;
	font-family: fontawesome !important;
	color: #a4c83d;
	top: 50px;
	right: 12px;
	content: '\f00c';
	font-size: 13px;
}



/*Попап окно "регистрация_успешно"*/
.popap_regist_suc {
	width:100%;
	min-height:100%;
	background-color: rgba(0,0,0,0.5);
	overflow:hidden;
	position:fixed;
	top:0px;
	z-index: 10;
}
.popap_regist_suc__content {
	width: 410px;
	height: 555px;
	position: absolute;
	background-color: #fff;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	box-shadow: 0px 0px 3px #000;
	z-index: 100;
}

.popap_regist_suc__main {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
	text-align: center;

}
.popap_regist_suc__main {
	padding: 184px 30px 40px 30px;
}

.popap_regist_suc__main h3 {
	color: #272727;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 40px;
}
.popap_regist_suc__main p {
	color: #272727;
	font-size: 17px;
	font-weight: 400;
	line-height: 20px;
	
}
.popap_regist_suc__main p span {
	font-weight: 500;
}
.popap_regist_suc__main a {
	position: absolute;
	background-color: transparent;
	border: none;
	outline: none;
	right: 3px;
	top: 3px;
	font-size: 25px;
	text-decoration: none;
	color: #272727;
}
.popap_regist_suc__main img {
	margin-bottom: 20px;
}


/*адаптивная шапка, адаптивное меню */
.adaptive_block_header {
	display: none;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	transition: 0.5s all ease;
}
.adaptive_line {
	width: 100%;
	background-color: #272727;
	min-height: 30px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 10px;
}

.adaptive_line .basket {
	position: absolute;
	min-width: 55px;
	height: 26px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #FFF;
	left: 10px;
	text-decoration: none;
}
.adaptive_line .basket:before {
	position: absolute;
	font-family: fontawesome !important;
	color: #272727;
	top: 6px;
	left: 7px;
	content: '\f07a';
	font-size: 18px;
}

.adaptive_line .number_buy {
	width: 50%;
	margin-left: 30px;
	padding-top: 6px;
	color: #272727;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	margin-right: 4px;
}
.adaptive_line .basket:hover:before {
	color: #eaa926;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-ms-transition: 0.1s all;
	-o-transition: 0.1s all;
	transition: 0.1s all;
}
.adaptive_line .topline_privateroom a {
	color: #fff;
	
}
.adaptive_line .privateroom_for_all:hover a,
.adaptive_line .privateroom_lang a:hover {
	color: #eaa926;
}
.adaptive_line .topline_privateroom {
	min-width: 150px;
	min-height: 26px;
	padding-left: 8px;
	padding-right: 8px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.adaptive_line .privateroom_lang {
	margin-left: 7px;
}
.adaptive_line .privateroom_lang:after {
	background-color: #fff;
}
.adaptive_line .topline_privateroom a {
	color: #fff;
}
.media_menu {
	min-width: 55px;
	position: absolute;
	right: 10px;
	height: 26px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #FFF;
	z-index: 100;
	text-decoration: none;
}
.media_menu button {
	position: relative;
	border: none;
	outline: none;
	background-color: #FFF;
	width: 23px;
	height: 23px;
	display: block;
	
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 2px auto;
	padding-right: 0;
	padding-left: 0;
}
.media_menu button:after {
	position: absolute;
	font-family: fontawesome !important;
	color: #272727;
	top: 1px;
	left: 3px;
	content: '\f0c9';
	font-size: 20px;
	cursor: pointer;
}
.media_menu button:before {
	display: none;
	position: absolute;
	font-family: fontawesome !important;
	color: #272727;
	top: 1px;
	left: 3px;
	content: '\f00d';
	font-size: 20px;
	cursor: pointer;
}
.media_menu button:hover:after,
.media_menu button:hover:before {
	color: #eaa926;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-ms-transition: 0.1s all;
	-o-transition: 0.1s all;
	transition: 0.1s all;
}
.media_menu button.active:after{
	display: none;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-ms-transition: 0.1s all;
	-o-transition: 0.1s all;
	transition: 0.1s all;
}
.media_menu button.active:before{
	display: block;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-ms-transition: 0.1s all;
	-o-transition: 0.1s all;
	transition: 0.1s all;
}

.close_filtr {
	display: none;
}
.adaptive_line_search {
	width: 	100%;
	height: auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;

	padding: 10px;		
}
.adaptive_line__phone {

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 10px;	
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.adaptive_line__phone .phone_vodafone,
.adaptive_line__phone .phone_kyiv {
	color: #272727;
	font-size: 18px;
	line-height: 18px;
	font-weight: 500;
	text-decoration: none;
	position: relative;
	display: block;
	padding-left: 33px;	
}


.adaptive_line__phone div:first-child .phone_vodafone:before {
	position: absolute;
	background: url(../img/vodafone-logo-vector1-400x400.png) no-repeat;
	width: 28px;
	height: 17px;
	top: 1px;
	left: 0;
	content: ' ';
}
.adaptive_line__phone div:last-child .phone_kyiv:before {
	position: absolute;
	background: url(../img/icon.png) no-repeat;
	width: 18px;
	height: 18px;
	top: 0px;
	left: 6px;
	content: ' ';
}
.adaptive_line_search .choose_town_link {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	min-width: 166px;
}
.adaptive_line_search .choose_town_block {
	left: 0;
}
.adaptive_line_search .search_form {
	max-width: 100%;
	margin: auto;
}
.adaptive_line_search .search_form input,
.adaptive_line_search .searchlist {
	max-width: 100%;
}
.adaptive_line_search .choose_town {
	width: 100%;
	height: auto;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.adaptive_line_search .town_search {
	max-width: 100%;
}
.adaptive_line_search .town_link:after {
	top: -1px;
}

.adaptive_menu_block {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #272727;
	z-index: 50;
	left: 0;
	top: 0;
	display: none;
	-webkit-overflow-scrolling: touch;
	bottom: 0;
	right: 0;
	/* overflow: auto; */
}
.adaptive_menu_block.active{
	display: block;
}
.adaptive_menu {
	display: none;
	
	
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}


.adaptive_menu.active,
.adaptive_menu:active {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.adaptive_menu li{
	position: relative;
	height: 40px;
}
.adaptive_menu a {
	display: block;
	padding: 13px 25px;
	height: 100%;

	text-decoration: none;
	color: #ffffff;
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	position: relative;
	-webkit-transition: 0.2s all;
	-moz-transition: 0.2s all;
	-ms-transition: 0.2s all;
	-o-transition: 0.2s all;
	transition: 0.2s all;
	position: relative;
}
.adaptive_menu a:hover {
	color: #eaa926;
	border-bottom: 3px solid #EAA926;
}
/*
фильтры с выпадающими списками*/
.filtr_drop-down {
	width: 100%;
	height: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	margin-bottom: 35px;
	padding-left: 8px;
	
}
.filtr_drop-down > div {
	width: 32.4%;
	height: auto;
	position: relative;
	margin-right: 2px;
}

.drop-down_list {
	height: 58px !important;
	position: relative;
}
.filtr_drop-down select,
.filtr_drop-down .chosen-container,
.filtr_drop-down .chosen-single {
	width: 100%!important;
	height: 100% !important;
	outline: none;
}


.filtr_drop-down li.active-result {
	color: #272727!important;
	font-size: 14px!important;
	line-height: 14px!important;
	font-weight: 400 !important;
	font-family: "Fira Sans"!important;
	padding: 5px 0 5px  13px !important;
}

.filtr_drop-down .chosen-results li.highlighted {
	color: #a4c83d!important;
	background-color: #FFF!important;
	background-image: none!important;
}
.filtr_drop-down .chosen-drop {
	border: none!important;
}
.filtr_drop-down input[type="text"] {
	border: none!important;
	border-bottom: 1px solid #dedede!important;
	padding-left: 16px !important;
	background: none !important;
	position: relative!important;
}
.filtr_drop-down .chosen-search:after {

	position: absolute;
	font-family: fontawesome !important;
	color: #444444;
	top: 8px;
	right: 10px;
	content: '\f002';
	font-size: 14px;
}
.filtr_drop-down .chosen-search {
	padding: 3px 0!important;
}
.filtr_drop-down .chosen-drop {
	margin-top: 4px!important;
}
.filtr_drop-down .chosen-single {
	border: none !important;
	background: none !important;
	color: #272727!important;
	font-size: 14px!important;
	line-height: 14px!important;
	font-weight: 300 !important;
	font-family: "Fira Sans"!important;
	box-shadow: 0px 0px 8px 1px #dedede!important;
}
.filtr_drop-down .chosen-single span {
	margin-top: 35px;
	margin-left: 3px;
	padding-left: 5px;
}




.filtr_drop-down h5{
	color: #272727!important;
	font-size: 14px!important;
	line-height: 14px!important;
	font-weight: 500 !important;
	position: absolute;
	top: 16px;
	left: 16px;
	text-transform: uppercase;
	
}

.filtr_drop-down .chosen-single div b {
	background: none !important;
	
}
.filtr_drop-down .chosen-single:after {
	position: absolute!important;
	font-family: fontawesome !important;
	color: #444;
	top: 21px;
	right: 12px;
	content: '\f078';
	font-size: 22px;
}
.filtr_drop-down .chosen-container-active.chosen-with-drop .chosen-single:after {
	content: '\f077';
}

.drop-down_list:last-child .chosen-drop {
	max-width: 480px;
	min-width: 480px;
	right: 0;

	overflow: auto;
}

.drop-down_list:nth-child(2) .chosen-drop {
	max-width: 270px;
	min-width: 270px;
	right: 0;
	
	overflow: auto;
}
.drop-down_list:nth-child(2) .chosen-results {
	max-height: 230px;
}
.drop-down_list:nth-child(1) .chosen-results {
	max-height: 230px;
}
.drop-down_list:nth-child(1) .chosen-drop {
	max-width: 270px;
	min-width: 270px;
	right: 0;
}
.drop-down_list:last-child .chosen-results {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	max-height: 230px;
}
.drop-down_list:last-child li.active-result {
	width: 28%;
}
.drop-down_list:last-child .group-result {
	width: 100%;
}