body {
	background-color: #fff;
}
.footer {
	margin-top: 57px;
}
.myacc_page {
	margin-top: 20px;
}
.myacc_page .block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}
.myacc_page h1 {
	color: #282828;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	margin-bottom: 16px;
}


/*меню аккаунта*/
.minimenu ul {
	width: 100%;
	height: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-bottom: 12px;
	border-bottom: 1px solid #e0e0e0;
}
.minimenu li {
	margin-right: 20px;
}
.minimenu li:last-child {
	margin-right: 0;
}
.minimenu a {
	text-decoration: none;
	color: #272727;
	font-size: 18px;
	font-weight: 500;
	line-height: 18px;
	padding-bottom: 9px;
	    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
}
.minimenu a.active,
.minimenu a:active {
	color: #a4c83d;
	border-bottom: 3px solid #a4c83d;
}
.minimenu a:hover {
	border-bottom: 3px solid #d6e6a8;
}


/*блок личные данные*/
.myacc_page_info {
	position: relative;
}
.edit_private_link {
	position: absolute;
	right: 0;
	top: 27px;
	
	color: #a4c83d;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	padding-bottom: 1px;
	border-bottom: 1px dashed #a4c83d;
	text-decoration: none;
}
.change_your_password {
	position: absolute;
	right: 0;
	top: 50px;
	color: #a4c83d;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	padding-bottom: 1px;
	border-bottom: 1px dashed #a4c83d;
	text-decoration: none;
		
}
.myacc_private {
	width: 100%;
	height: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	padding-bottom: 27px;
	padding-top: 25px;
	border-bottom: 1px solid #e0e0e0;
}
.myacc_private h3 {
	color: #272727;
	font-size: 18px;
	font-weight: 500;
	line-height: 18px;
	margin-bottom: 20px;
}
.myacc_private p {
	color: #282828;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	margin-bottom: 14px;
}
.myacc_private p span {
	font-weight: 500;
}
.myacc_private p:last-child {
	margin-bottom: 0;
}



/*формы редактирование личной информации*/
.edit_private.active,
.edit_private:active {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.edit_private {
	width: 100%;
	height: auto;
	
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	padding-bottom: 27px;
	padding-top: 25px;
}
.edit_private h3 {
	color: #272727;
	font-size: 18px;
	font-weight: 500;
	line-height: 18px;
	margin-bottom: 18px;
}
.edit_private_items {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
}
.edit_private_item {
	width: 31%;
	height: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}
.item-group::-webkit-input-placeholder  {
	color: #dedede;
}
.edit_private_item:first-child {
	margin-right: 20px;
}

.item-group {
	width: 100%;
	min-height: 55px;
	margin-bottom: 12px;
}
.item-group_title {
	color: #272727;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	margin-bottom: 6px;
}
.item-group_input {
	width: 100%;
	height: 34px;
	max-width: 340px;
	padding-left: 9px;
	color: #212121;
	font-size: 14px;
	font-weight: 300;
	line-height: 14px;
	border: 2px solid #f5f5f5;
	outline: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.item_edit {
	padding-right: 28px;
}
.item_edit_tel,
.item_edit_adress {
	position: relative;
}
.item_edit_tel button,
.item_edit_adress button{
	position: absolute;
	right: -28px;
	top: 29px;
	width: 20px;
	height: 20px;
	background-color: #A4C83D;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	outline: none;
	border: none;
}
.item_edit_tel button:after,
.item_edit_adress button:after {
	position: absolute;
	width: 12px;
	height: 2px;
	background-color: #FFF;
	top: 9px;
	left: 4px;
	content: '';
}
.item_edit_tel button:before,
.item_edit_adress button:before {
	position: absolute;
	width: 2px;
	height: 12px;
	background-color: #FFF;
	top: 4px;
	left: 9px;
	content: '';
}
.item_edit_pass button {
	width: 100px;
	height: 35px;
	margin-top: 17px;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	background-color: #A4C83D;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	outline: none;
	border: none;
}
.item_edit_pass .item-group:first-child {
	position: relative;
}


/*
кнопки*/
.edit_private_butt {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px;
}
.edit_private_butt button:first-child {
    margin-right: 16px;
    width: 200px;
    height: 35px;
    background-color: #A4C83D;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    outline: none;
    border: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.edit_private_butt button:last-child {
    height: 16px;
    color: #272727;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    outline: none;
    border: none;
    background-color: #fff;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.edit_private_butt button:last-child::after {
    position: absolute;
    content: '';
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 0;
    display: block;
    border-bottom: 1px dashed #a4c83d;
}